%% -*- erlang -*-
%%  exo test config file 
%%
[
 {lager, [{log_root, "log/lager"}, 
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, 
		        [info, {lager_default_formatter, 
		       		[date, " ", time," [",severity,"] ",pid, " ", 
		       		 module, ":", line, " ", message, "\n"]}]},
		      {lager_file_backend, 
		       [{file, "error.log"}, {level, warning}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]},
		      {lager_file_backend, 
		       [{file, "console.log"}, {level, info}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]}
		     ]}
	  ]},

 {ale, [
	{options, []},
	{trace_file, "debug.log"}, %% (Path is from lager log_root)
	{traces, []}
       ]},

 {exo, [
	{policies,
	       [
		{wait, [{in, %% for incoming traffic
			    [{capacity, 10}, %% max no of messages in buffer
			     {rate, 10}]}, %% messages/sec
			   {out, %% for outgoing traffic
			    [{capacity, 10}, %% max no of messages in buffer
			     {rate, 10}, %% messages/sec
			     {action, wait}]} %% to do when overloaded
			  ]},
		{throw, [{in, %% for incoming traffic
			    [{capacity, 10}, %% max no of messages in buffer
			     {rate, 10}]}, %% messages/sec
			   {out, %% for outgoing traffic
			    [{capacity, 10}, %% max no of messages in buffer
			     {rate, 10}, %% messages/sec
			     {action, throw}]} %% to do when overloaded
			  ]},
		{fast, [{in, %% for incoming traffic
			    [{capacity, 100}, %% max no of messages in buffer
			     {rate, 100}]}, %% messages/sec
			   {out, %% for outgoing traffic
			    [{capacity, 100}, %% max no of messages in buffer
			     {rate, 100}, %% messages/sec
			     {action, throw}]} %% to do when overloaded
			  ]} 
	       ]}]}

 
].
