%% -*- erlang -*-
%% Config file for exo application
{deps, [{lager, "3.9.2", {git, "https://github.com/erlang-lager/lager", {tag, "3.9.2"}}},
        {afunix, ".*", {git, "https://github.com/sedinin/afunix", {branch, "master"}}}]}.
%% {erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}, {d,debug}]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
{ct_extra_params, "-suite test/exo_flow_SUITE -erl_args -name ct -config test/test"}.
%% You can also run ct from the test dir using:
%% ct_run -suite exo_flow_SUITE -erl_args -name ct -config test
